<%- include("header") -%>

<body>
    <div class="box" id="heading">
        <h1><%= listTitle %> </h1>
    </div>
    <div class="box">
        <% for(var i = 0; i<items.length ; i++){ %>
        <div class="item">
            <input type="checkbox" id="checkbox">
            <p><%= items[i] %></p>
            <form action="/deleteItem" method="post">
            <button>
                <input type="hidden" name="productId" value="<% i %>">
            <img src="https://cdn-icons-png.flaticon.com/512/3569/3569930.png" name = "dustbin" id="dustbin" alt="dustbin">
            </button></form>
        </div>
        <% }  %>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>

</body>

<%- include("footer") -%>